body{
	color: navy;
	margin: 0;
	font-size: 1.1em;
	}
	
	.topo{
	float: left;
	width: 200px;
	height: 100vh;
	padding: 20px 0px 0px 20px;
	background-color: gold;
	}
	
	.topo a{
	color: gray;
	text-decoration: none;
	display: block;
	font-size: 22px;
	}
	
	.topo a:hover{
	background-color: goldenrod;
	width: 100%;
	color: navy;
	}
	
	.principal{
	background-color: goldenrod;
	float: right;
	padding: 15px;
	}
	
	.fotos img{
	width: 300px;
	height: 270px;
	display: block;
	}
	
	.fotos img:hover{
	width: 800px;
	height: 550px;
	}
	
	p a{
	color: gray;
	text-decoration: none;
	}