body {
    background-color: darkred;
    margin: 0px;
    color: white;
}

.topo {
    background-color: darkred;
    font-size: 20px;
    padding: 5px;
    text-align: right;
}

.topo a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.topo a:hover{
    text-decoration: overline;
    text-decoration-color: darkslategray;
}

.principal {
    background-color: darkslategray;
    padding: 10px;
    margin: 50px 50px 0px 50px;
    height: 100%;
}

.fotos {
    width: 600px;
    height: 500px;
    position: relative;
    text-align: center;
    margin: auto;
}

.fotos img {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

.fotos span{
    margin-left: 5px;
}

.fotos span:hover{
    text-decoration: overline;
    text-decoration-color: darkred;
}

.fotos span:hover img {
    z-index: 1;
}